---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="body">
        <div class="wrapper" style="min-height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
            <h1 class="heading_76px">404</h1>
            <p class="paragraph_18px light-grey">Page not found</p>
            <p class="paragraph_18px light-grey" style="margin-bottom: 32px;">Looks like you've followed a broken link or entered a URL that doesn't exist on this site.</p>
            <a href="/" class="animated-link-button">Back to home</a>
        </div>
    </div>
</Layout>